<!DOCTYPE html>
<html>

<head>



    <!-- META -->
    <!-- Modify this title -->
    <title>!Template | ICIQ - Information, Computation & Intelligence and Quantum</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Quantum Information, Quantum Computation, Quantum Intelligence, Quantum Mechanics">
    <meta name="description" content="ICIQ - Information, Computation, Intelligence and Quantum" />
    <meta name="author" content="emptymalei, https://github.com/emptymalei">

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="https://plus.google.com/107578658308929247968" rel="publisher">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
    <link rel="stylesheet" type="text/css" href="style.css" media="all" />


    <!-- Javascript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/kickstart.js"></script>
</head>

<body>



    <!-- Top Main Menu Horizontal. Move "current" class to the proper place -->

    <ul class="menu mainmenu">
        <li class="current">
            <a href="">
                <i class="icon-home"></i>Home</a>
        </li>
        <li>
            <a href="observe.html">
                <i class="icon-eye-open"></i>Observe</a>
        </li>
        <li>
            <a href="entangle.html">
                <i class="icon-cogs"></i>Entangle</a>
            <ul>
                <li>
                    <a href="entangle.html#group">
                        <i class="icon-coffee"></i>Group Studies</a>
                </li>
                <li>
                    <a href="entangle.html#projects">
                        <i class="icon-camera-retro"></i>Open Projects</a>
                </li>
                <li>
                    <a href="entangle.html#talks">
                        <i class="icon-camera-retro"></i>Open Talks & Meetups</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="more.html">
                <i class="icon-circle-blank"></i>More</a>
        </li>


        <li class="menusocial">
            <a href="https://plus.google.com/communities/112872767737673370045" target="_blank">
                <i class="icon-google-plus-sign icon-2x"></i>
            </a>
        </li>
        <li class="menusocial">
            <a href="https://github.com/ICIQ" target="_blank">
                <i class="icon-github icon-2x"></i>
            </a>
        </li>

        <li class="sitename">
            <a href="http://iciq.github.io">Information, Computation, Intelligence & Quantum</a>
        </li>

    </ul>



    <!-- Main Content. Wrap everything with "grid" class. -->



    <div class="grid">


        <div class="pageTitle">
            <h3 class="center">Quantum Era of Information Processing</h3>
            <h6 class="center">This is subhead Test</h6>
        </div>

        <div class="artIntro">

            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>

            <p>El illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
        </div>


        <!-- notice class can be used for notices. "promo" class is specially customized for promotion.-->

        <div class="notice promo">
            <i class="icon-bell icon-large"></i>This is a Promo Notice
            <a href="#close" class="icon-remove"></a>
        </div>

        <div class="center">

            <div class="col_4">
                <h3>ICIQ G+</h3>
                <p>Google Plus Communities</p>
                <img src="http://placehold.it/284x100/4D99E0/ffffff.png&text=284 x 100" width="284" height="100" data-pinit="registered">
            </div>

            <div class="col_4">
                <h3>Column Two</h3>
                <p>Lorem ipsum dolor sit amet...</p>
                <img src="http://placehold.it/284x100/4D99E0/ffffff.png&text=284 x 100" width="284" height="100" data-pinit="registered">
            </div>

            <div class="col_4">
                <h3>Column Three</h3>
                <p>Lorem ipsum dolor sit amet...</p>
                <img src="http://placehold.it/284x100/4D99E0/ffffff.png&text=284 x 100" width="284" height="100" data-pinit="registered">
            </div>


        </div>



        <hr class="alt2">




        <div class="col_12">
            <h1 class="center">Here We Are</h1>
            <p class="center">Know More About ICIQ</p>
        </div>
        <!-- END SECONDARY HEADLINE -->

        <div class="col_8">
            <!-- Slideshow -->
            <ul class="slideshow" width="600" height="350">
                <li>
                    <img src="http://placehold.it/550x350/4D99E0/ffffff.png&text=550x350" width="600" height="350" data-pinit="registered">
                </li>
                <li>
                    <img src="http://placehold.it/550x350/75CC00/ffffff.png&text=550x350" width="600" height="350" data-pinit="registered">
                </li>
                <li>
                    <img src="http://placehold.it/550x350/E49800/ffffff.png&text=550x350" width="600" height="350" data-pinit="registered">
                </li>
            </ul>
        </div>
        <!-- END SLIDESHOW -->

        <div class="col_4">
            <h3 class="center">Join Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
            <p class="center">
                <a class="button blue large" href="https://github.com/ICIQ" target="_blank">ICIQ &#8855;
                    <i class="icon-github"></i>
                </a>
                <a class="button orange large" href="https://plus.google.com/communities/112872767737673370045" target="_blank">ICIQ &#8853;
                    <i class="icon-google-plus-sign"></i>
                </a>
            </p>
        </div>
        <!-- END SLIDESHOW PARAGRAPH -->




    </div>







    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->


    <div class="clear"></div>
    <div id="footer">
        <span><a href="https://github.com/ICIQ/iciq.github.io/wiki" target="_blank">Wiki</a></span> | 
        <span><a href="https://github.com/ICIQ/iciq.github.io/issues" target="_blank">Issues</a></span> | 
        <span><a href="https://github.com/ICIQ/iciq.github.io/blob/master/LICENSE.md" target="_blank">License</a></span> | 
        <span><a href="https://github.com/ICIQ/iciq.github.io" target="_blank">Source Code</a> | </span>
        <span>By <a href="http://iciq.github.io">Information, Computation, Intelligence and Quantum</a></span> | 
        <span>Built with <a href="http://www.99lime.com">HTML KickStart</a>.</span>
                <a id="link-top" href="#top">Top</a>
    </div>



    <!-- Google Tracking Code. Keep this in everypage. -->

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-46730871-1', 'iciq.github.io');
        ga('send', 'pageview');
    </script>

</body>

</html>
