language: ruby
rvm:
- 2.2
cache:
  directories:
  - vendor
  - "$HOME/.composer/cache"
cache: bundler
branches:
  only:
  - dev
before_install:
- sudo add-apt-repository -y ppa:marutter/c2d4u
- sudo apt-get update
- sudo apt-get install pandoc
- sudo apt-get install gsl-bin libgsl0-dev
- gem update --system
- gem install bundler
install:
- travis_retry bundle install
script:
- bundle exec jekyll build
- bundle exec rake site:deploy
env:
  global:
  - secure: "CWmGF5hJHwzbxCBPkXXD3RS4gLw5X7NBx7ijNaJeGpdtI9NSnE4Ebtu4v/tVZE9bxHKttLmtLy+suUrlYMwz+pJ98IiJjWyA5k46FKhUgPVFGLC9UBOJhAjrt6xuJ8f59ZkT3UpeB7yrSmf3I4bTtRCBqnGQaMqhTJvGhkR1UVU="
  - secure: "hSUEeh+9yFxiz7987NR1DbRg4btkU9kIfdjLQ9KLAaU/g3SuptAsyea1r4qyCBIdE5mwvlba5Gv+w+7xseWx3S53/UCmHn5eWLUxD3oLv9j9bN5x2ME80+r75hN18N+htPsDzJU/wqmk7utNsAw/y9c7DuWYslb6IOFZ2PgRaZI="
  - secure: "WfwB4KzPGhuxdRdd0OfjdTqMRLCgAoFLdHCP2XSNbpMfECTl5cEfCTUY5I8VUYwpi8io1q9szSKYpa3CW4oa+nr4+VfZRQlRQwaQ8sajvvm+2KiCc5iSKa/bKZksqRD6djYXWln1eRqeIMEOWYaPJ9PvjIwHemhaJDj3rBOHLmk="
  - secure: "DLi8lxu3XOTyHrhBOs6DxuRbmojLif4Mn3/PIj1Ia6vckzn4+id3oALloNFbXgjwbw/FDLuDjx3z/3gaz8vcfCdlfw9Cphasf/ZzmamYv5cI944dTY3nZYj88U3YZPg6KJO1MmGOhMWSyq+NMZnbp6nJz2n5gLCak+tW9dXYKRs="
  - secure: "MsEbe28jsOW1ewtDP2KlbQDv325On+pPCxt1ENvWrILELDv3yInxC87MSyEEp3ESEWvnw+XyRT/+hBoo/7HxB5R9fd10gRnrO+MT3KtxgJI40I3gxBaAZiXDKKMvvLJv5hdfg/m1tFTdOjHiIF+9/qF62WDu1RSoPcfT4PeMdcE="
  - secure: "ROvKG1CQPfdsw12N89l0/b3NwKUEC5ZXN54eEJMiT2n0oJD6jTWTkp9aVmxsC95Ylc0EXeWsxj7EzJ+7Q29ylvARtu5S91sqn6nJbkHje6A8w7wfAdP9mBogTHtBjrBKj6dwmMfSbWKGbx+LxFN9+PL8MLssVlgkY7cyT/AqXMM="
  - secure: "ev2U+z5JD7xT1Fn3z7MMJQ6Oo8OSnjWE5maWOA+yYm57htFa765/J1PZq9AU5coDNxVBKFwWBUZHbQ+eLG/d4RL36DOBSgJNXWBwTMVe7bE4u0jemHRGEVqDqj7Sd4fQyueRjr1pWlDR5jykqlLj2bZsfSKRJHpU18ZJ0iNCm64="
