---
layout: null
title: Community
subtitle: How science is done and for what.
---
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My open lab notebook">
    <meta name="author" content="Xiaodong Qi">


    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:bold,bolditalic,italic|Quattrocento+Sans">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario:bold,bolditalic,italic|Rosario">
    <link href="/assets/css/light.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <!-- Le javascript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
    <script type="text/javascript" src="/assets/js/strftime.js"></script>
    <script type="text/javascript">
    (function ($, undefined) {

      // Put custom repo URL's in this object, keyed by repo name.
      var repoUrls = {
      };
      // Put custom repo descriptions in this object, keyed by repo name.
      var repoDescriptions = {
      };

      function repoUrl(repo) {
        return repoUrls[repo.name] || repo.html_url;
      }
      function repoDescription(repo) {
        return repoDescriptions[repo.name] || repo.description;
      }

      function addRecentlyUpdatedRepo(repo) {
        var $item = $("<li>");

        var $name = $("<a>").attr("href", repo.html_url).text(repo.name);
        $item.append($("<span>").addClass("name").append($name));

        var $time = $("<a>").attr("href", repo.html_url + "/commits").text(strftime("%h %e, %Y", repo.pushed_at));
        $item.append($("<span>").addClass("time").append($time));

        $item.append('<span class="bullet">&sdot;</span>');

        var $open_issues = $("<a>").attr("href", repo.html_url + "/open_issues").text(repo.open_issues + " open_issues");
        $item.append($("<span>").addClass("open_issues").append($open_issues));

        var $watchers = $("<a>").attr("href", repo.html_url + "/watchers").text(repo.watchers + " watchers");
        $item.append($("<span>").addClass("watchers").append($watchers));

        $item.append('<span class="bullet">&sdot;</span>');

        var $forks = $("<a>").attr("href", repo.html_url + "/network").text(repo.forks + " forks");
        $item.append($("<span>").addClass("forks").append($forks));

        $item.appendTo("#recently-updated-repos");
      }

      function addRepo(repo) {
        var $item = $("<li>").addClass("repo rep " + (repo.language || '').toLowerCase());
        var $link = $("<a>").attr("href", repoUrl(repo)).appendTo($item);
        $link.append($("<h2>").text(repo.name));
        $link.append($("<h3>").text(repo.watchers + " watchers" + " / " + repo.open_issues + " open issues"));
        $link.append($("<p style='line-height:1em;'>").text(repoDescription(repo)));
        $link.append($("<p style='line-height:1em;'>").text("Updated " +
          strftime("%h %e, %Y", repo.pushed_at)));
        $link.append($("<h3 style='top:10px; right:14px;'>").addClass("language").text(repo.language));

        $item.appendTo("#repos");
      }

      $.getJSON("https://api.github.com/users/i2000s/repos?per_page=100&callback=?", function (result) {
        var repos = result.data;

        $(function () {
          $("#num-repos").text(repos.length);

          // Convert pushed_at to Date.
          $.each(repos, function (i, repo) {
            repo.pushed_at = new Date(repo.pushed_at);

            var weekHalfLife  = 1.146 * Math.pow(10, -9);

            var pushDelta    = (new Date) - Date.parse(repo.pushed_at);
            var createdDelta = (new Date) - Date.parse(repo.created_at);

            var weightForPush = 1;
            var weightForWatchers = 1.314 * Math.pow(10, 7);

            repo.hotness = weightForPush * Math.pow(Math.E, -1 * weekHalfLife * pushDelta);
            repo.hotness += weightForWatchers * repo.watchers / createdDelta;
          });

          // Sort by highest # of watchers.
          repos.sort(function (a, b) {
            if (a.hotness < b.hotness) return 1;
            if (b.hotness < a.hotness) return -1;
            return 0;
          });

          $.each(repos, function (i, repo) {
            addRepo(repo);
          });

          // Sort by most-recently pushed to.
          repos.sort(function (a, b) {
            if (a.pushed_at < b.pushed_at) return 1;
            if (b.pushed_at < a.pushed_at) return -1;
            return 0;
          });

          $.each(repos.slice(0, 3), function (i, repo) {
            addRecentlyUpdatedRepo(repo);
          });
        });
      });

    })(jQuery);
    </script>
  </head>
  <body>

  {% include navbar.html %}


  <div class="container"> <!-- Twitter bootstrap has all body content in a container -->
<header class="jumbotron subhead">
    <h1 class="entry-title">{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
</header>

    <div class="span12">
      <p>Life is never alone. We take from the human society, and should brace the society for our best of hope into the future.</p>
      <div class="span12">
       <h2>Non-for-profit organizations that I co-created for communities:</h2>
       <ul style="list-style-type:row">
        <li><a href="http://cquic-github.github.io/" target="_blank">CQuIC@GitHub</a>: for CQuIC members who do code for science. </li>
        <li><a href="http://juliaquantum.github.io/" target="_blank">JuliaQuantum</a>: for establishing standards and computational libraries in Julia for quantum science and technology. </li>
        <li><a href="http://iciq.github.io/" target="_blank">ICIQ</a>: and open community stands for Information, Computation, Intelligence and Quantum.
          We have scientists, journalists, enterprineurs, students and many other professionals
          who are interested in crossing the boundaries between classical and quantum information sciences to shape the future and
          organize group studies, online talks, open discussions and news sharing.
          Check our <a href="https://plus.google.com/communities/112872767737673370045" target="_blank">Google+ community on quantum information science</a> (the biggest as of Feb 2016).</li>
       <ul>
      </div>
      <div class="span12">
        <h2>Professional communities that I have joined:</h2>
        <p>APS and OSA.</p>
      </div>
      <div class="span12" width="960px">
        <h2>Tools I think that are useful for poeple who are doing science.</h2>
        <p><a href="/tools.html" target="_blank">Check details here.</a></p>
      </div>
    </div>
    </div>

  <div class="span12">
    <h2 align="center">Free code repositories</h2>
    <div id="wrapper" class="grid clearfix">
      <div id="main" class="grid-1">
        <div><h2>Xiaodong Qi's Open-source Repositories</h2></div>
        <h6> This is an automated index to Github repositories for my publicly available open source projects.
          All of them are released under open-source initiative licenses,
          so you are free -- and invited! -- to use or adapt them so long as you
          acknowledge the source.  If you do use them, I hope you'll drop me
          a note by email.  I also encourage pull requests with corrections or
          improvements on these community common resources.</h6>
      </div>

      <div class="grid grid-3">
        <div id="statistics" class="grid-1 alpha header">
          <h1 style="margin: 0 5px 0;">Statistics</h1>
          <p style="margin: 5px 5px 0px;"> <a href="https://github.com/i2000s/repositories"><span id="num-repos">&nbsp;</span> public repos</a> </p>
          <p style="margin: 5px 5px 0px;"><a href="https://github.com/i2000s">https://github.com/i2000s</a></p>
        </div>

        <div id="recently-updated" class="grid-2 omega header">
          <h1 style="margin: 0 5px 0;">Recently updated <a href="https://github.com/i2000s/repositories">View All on GitHub</a></h1>
          <ol id="recently-updated-repos" style="margin-left: -15px; margin-top: -5px"></ol>
        </div>
      </div>

        <ol id="repos"></ol>
    </div>
  </div>

   <div class="span12">
     <h4> <a href="https://github.com/i2000s" onClick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;" >
      <img src="{{site.url}}/assets/img/icon-github.png" alt="github"> What I'm Coding </a></h4>
     {% github_feed i2000s, 4 %}
  </div>

  <div class="span12">
    <br>
    <h2>My pholosophy on Doing Science can be found <a href="/philosophy.html" target="_blank">here<a>. </h2>
    <br>
  </div>
<!--  </body>
</html> -->

{% include footer.html %}
