/*-------
First lines
------*/


.head1 {
font-family: Gill Sans, Verdana;
	font-size: 13px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

.head2 {
font-family: times, Times New Roman, times-roman, georgia, serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
	font-weight: bold;
}


/* --------------------
# CSS Shapes
--------------------*/

/*----------
.up-triangle {
   width: 0; 
   height: 0; 
   border-bottom: 120px solid green; 
   border-left: 60px solid transparent; 
   border-right: 60px solid transparent;
}

.down-triangle { 
   width: 0; 
   height: 0;
   border-top: 80px solid pink;
   border-left: 60px solid transparent; 
   border-right: 60px solid transparent; 
}

#info {
    border-bottom:120px solid lightgreen;
    float:left;
    margin-right:-28px;
}

#comp {
    border-bottom:120px solid rgba(255, 165, 0, 0.8);
    float:left;
    margin-left:-28px;
}

#quan {
    border-top:120px solid #60abf8;
    float:left;
    margin-left:-28px;
    margin-right:-28px;
}

#inte {
   border-bottom: 120px solid pink;
    margin-left:64px;
    margin-bottom:4px;
}

.up-triangle span {
    font-size:18px;
    text-align:center;
    position: relative;
    top: 55px;
    left:-25px;
}

.down-triangle span {
    font-size:18px;
    text-align:center;
    position:relative;
    bottom:65px;
    left:-20px;
}

-------*/



.circle-text {
    width:33%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.rect-text {
   width: 100%; 
   height: 5em;
   background: rgba(0, 128, 0, 0.46);
        margin-top:30%;
}

.rect-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;

}
.rect-text div {
    float:left;
    width:100%;
    padding-top:0.5em;
    line-height:1em;
    margin-top:0em;
    text-align:center;
    color:white;
    font-size:2.5em;
    vertical-align:center;
}

#info:after {
    background:lightgreen;
}

#comp:after {
    background:#89c0f8;
}

#quan {
    background:#ff5800;
}

#inte:after {
    background:rgba(255, 165, 0, 0.8);
}






/*------
SlideShow
--------*/


.slideshow p {
	padding:0 5px 0 5px;
}


.intro {
    margin:10px 10px 10px 10px;
    padding:20px 20px 20px 20px;
    color:grey;
    font-size:130%;
    line-height:130%;
}

p:first-child {
	padding: 30px;
	border-left: 5px solid lightgreen;
	background-color: #F4FCF4; 
	line-height: 32px;
    box-shadow:  5px 5px 0px 0px rgba(127, 118, 100, 0.2);
    position: relative;
}

p:first-child:first-letter {
	font-size: 200%;
}
p:first-child:first-line {
	font-weight: bold;
}



#intro1 {
	border-left: 5px solid lightgreen;
	background-color: #F4FCF4; 
}

#intro2 {
	border-left: 5px solid #89c0f8;
	background-color: #e4f2ff; 
}

#intro3 {
	border-left: 5px solid rgba(255, 165, 0, 0.8);
	background-color: rgb(255, 243, 221); 
}