---
layout: barefooter
permalink: /
title: ICIQ Community
subtitle: For the era of Quantum Information Processing
description: ICIQ - Information, Computation, Intelligence and Quantum.
keywords: Quantum Information, Quantum Computation, Quantum Intelligence, Quantum Mechanics, Quantum physics, Quantum Optics, entanglement, quantum measurement, continuous measurement, open quantum system, quantum communication, supperposition state, bloch sphere quantum Turing machine
---

<div class="row">
 <!-- <span> -->
 <div class="col-md-7 col-sm-12">
  <div class="row">
      {% for post in site.posts limit:4 %}
      {% include postsummary.html %}
      {% endfor %}
  </div>
  <div class="row">
    <div style="font-weight:bold; text-align:center;font-size:1.2em;">
     <i class="glyphicon glyphicon-chevron-left"></i> <a href="/archives.html">Archives by date, </a>
     <i class="glyphicon glyphicon-list"></i> <a href="/categories.html">by category, </a>
     <i class="glyphicon glyphicon-tag"></i> <a href="/tags.html">by tag</a>
    </div>
  </div>
     <br>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="row">
        <ul class="unstyled">
          <li style="margin:-10px 30px"> <img alt="QR Code" src="/assets/img/qr_code.jpg" width="150px" align="left"></li>
        </ul>
      </div>

    </div>
    <div class="col-md-8 col-sm-8">
        <br>
        <br>
       <div class="row">
        <ul class="unstyled" style="font-size:1.2em;line-height:1.5em; ">
          <li style="margin:-6px -40px">Scan to load on your mobile device.</li>
        </ul>
       </div>
       <div class="row">
           <a href="mailto:{{site.author.email}}" onClick="recordOutboundLink(this, 'Outbound Links', 'email'); return false;"><img src="/assets/img/icon-email.png" height="48px" alt="email"> </a>
           <a href="https://github.com/{{site.author.github}}" onClick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;"><img src="/assets/img/icon-github.png" height="40px" alt="github"> </a>
           <a href="https://plus.google.com/{{site.author.gplus}}"><img src="/assets/img/icon-gplus.png" height="40px" alt="G+"></a>
           <a href="https://www.facebook.com/{{site.author.facebook}}"><img src="/assets/img/icon-facebook.png" height="42px" alt="facebook"></a>
           <a href="https://twitter.com/{{site.author.twitter}}"><img src="/assets/img/icon-twitter.png" height="45px" alt="Twitter"></a>
           <a href="/atom.xml" onClick="recordOutboundLink(this, 'Outbound Links', 'RSS'); return false;"><img src="/assets/img/icon-rss.png" height="40px" alt="feed"></a>
       </div>
     <!-- <br><br><br> -->
    </div>
    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-sm-block visible-md-block"></div>
  </div>
 </div>
 <!-- </span> -->


 <div class="col-md-5 col-sm-12">

  <b>ICIQ</b> (<span font="sans-serif">Information, Computation, Intelligence and Quantum</span>)<br>

  <div class="team-member">
  <img class="img-responsive img-circle" alt="" src="/images/favicon/favicon.svg" align="right" width=200px>
  </div>

  We do not belong to any for-profit company; we are not affiliated to any institue;
  we know no border...
  We are individuals who are studying or working in the science and technology of Information, Computation, artificial Intelligence and/or Quantum physics,
  and are active to lead our future for the better with full responsiblity.
  We condense our anonymous power as an entity, which we can call ICIQ Open Community,
  to create opportunities for each other to learn and discover possiblities,
  and to interact and reach some optimal paths for us to match on.
  Take action, now, and become one of us.
  Enjoy our website and <a href="https://github.com/ICIQ/iciq.github.io/wiki" style="text-decoration:none;" target="_blank">wiki pages</a>!

     <a class="twitter-timeline" href="https://twitter.com/{{site.author.twitter}}" data-widget-id="735350834087788544" data-chrome="transparent noborders noscrollbar" height="350px">Tweets by @{{site.author.twitter}}</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 </div>
</div>
<!-- Add the extra clearfix for only the required viewport -->
<div class="clearfix visible-md-block"></div>
<hr>
<div class="row" style="margin:-10px 0 10px; align:center; vertical-align:middle; clear:both;">
  <!-- <div class="span12" align="center" vertical-align="middle"> -->
  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        <span align="center" margin-top="-10px">Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author.name }} under the Creative Commons Attribution License or otherwise specified. </span></a>
  <!-- </div> -->
  <br>
</div>
