---
title: Publications
---

{% include header.html %}
<h2>Submitted preprints</h2>
<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/quezada_diffractons.png" align="right" />
<a href="http://arxiv.org/abs/1312.4122"><name> Diffractons: 2D solitary waves in layered periodic media </name><br>
</a>
<authors> David I. Ketcheson  and Manuel Quezada de Luna</authors>,
 (2014)<br>
<links>  | <a href="http://arxiv.org/abs/1312.4122">arXiv version</a>  | <a href="http://github.com/ketch/diffractons_RR">Reproducibility repository</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://arxiv.org/abs/1307.8058"><name> Strong Stability Preserving Multistep Runge-Kutta Methods </name><br>
</a>
<authors> Christopher Bresten, Sigal Gottlieb, Zachary Grant, Daniel Higgs, David I. Ketcheson,  and Adrian Németh</authors>,
<br>
<links>  | <a href="http://arxiv.org/abs/1307.8058">arXiv version</a>  | <a href="http://sspsite.org">Code</a> |</links><div style="clear:both"></div>

</div>

<h2>Refereed Journal Articles</h2>
<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/2014_internal_stability.png" align="right" />
<a href="http://davidketcheson.info/assets/papers/2014_internal_stability.pdf"><name> Internal error propagation in explicit Runge&ndash;Kutta methods </name><br>
</a>
<authors> David I Ketcheson, Lajos Lóczi,  and Matteo Parsani</authors>,
<journal> SINUM</journal>, 52(5):2227-2249 Accepted. (2014)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2014_internal_stability.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.1137/130936245">Published version</a>  | <a href="http://arxiv.org/abs/1309.1317">arXiv version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/2014_loczi_exponential.png" align="right" />
<a href="http://imajna.oxfordjournals.org/cgi/content/abstract/dru039?ijkey=k8rlLsKUMTuJVk4&keytype=ref"><name> On the absolute stability regions corresponding to partial sums of the exponential function </name><br>
</a>
<authors> D. Ketcheson, T. A. Kocsis,  and L. Lóczi</authors>,
<journal> IMA Journal of Numerical Analysis</journal> (2014)<br>
<links>  | <a href="http://dx.doi.org/10.1093/imanum/dru039">Published version</a>  | <a href="http://arxiv.org/abs/1312.0216">arXiv version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://dx.doi.org/10.1007/s10915-014-9906-1"><name> Error Analysis of Explicit Partitioned Runge-Kutta Schemes for Conservation Laws </name><br>
</a>
<authors> W. Hundsdorfer, D. I. Ketcheson,  and I. Savostianov</authors>,
<journal> Journal of Scientific Computing</journal> (2014)<br>
<links>  | <a href="http://dx.doi.org/10.1007/s10915-014-9906-1">Published version</a>  | <a href="http://arxiv.org/abs/1310.7168">arXiv version</a>  | <a href="http://davidketcheson.info/assets/papers/2014_partitioned_multirate_postprint.pdf">Free Postprint</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/quezada_dispersion.png" align="right" />
<a href="http://dx.doi.org/10.1137/130937962"><name> Two-dimensional wave propagation in layered periodic media </name><br>
</a>
<authors> Manuel Quezada de Luna  and David I. Ketcheson</authors>,
<journal> SIAM Journal on Applied Mathematics</journal>, 74(6):1852-1869 (2014)<br>
<links>  | <a href="http://dx.doi.org/10.1137/130937962">Published version</a>  | <a href="http://arxiv.org/abs/1309.6666">arXiv version</a>  | <a href="https://github.com/ketch/effective_dispersion_RR">Reproducibility repository</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://dx.doi.org/10.1007/s10915-013-9796-7"><name> Optimal strong-stability-preserving Runge&ndash;Kutta time discretizations for discontinuous Galerkin methods </name><br>
</a>
<authors> Ethan J. Kubatko, Benjamin A. Yeager,  and David I. Ketcheson</authors>,
<journal> Journal of Scientific Computing</journal>, 60(2):313-344 (2014)<br>
<links>  | <a href="http://dx.doi.org/10.1007/s10915-013-9796-7">Published version</a>  | <a href="http://www.davidketcheson.info/assets/papers/dg_ssp_stability.pdf">Post-print</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/2014_hork.png" align="right" />
<a href="http://davidketcheson.info/assets/papers/2014_hork.pdf"><name> A comparison of high order explicit Runge-Kutta, extrapolation, and deferred correction methods in serial and parallel </name><br>
</a>
<authors> D. I. Ketcheson  and Umair bin Waheed</authors>,
<journal> CAMCoS</journal>, 9(2):175-200 (2014)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2014_hork.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.2140/camcos.2014.9.175">Published version</a>  | <a href="http://arxiv.org/abs/1305.6165">arXiv version</a>  | <a href="http://github.com/ketch/high_order_RK_RR/">Code</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/2014_rational_absmon.png" align="right" />
<a href="http://dx.doi.org/10.1112/S1461157013000326"><name> Rational functions with maximal radius of absolute monotonicity </name><br>
</a>
<authors> Lajos Lóczi  and David I. Ketcheson</authors>,
<journal> LMS Journal of Computation and Mathematics</journal>, 17(1):159-205 (2014)<br>
<links>  | <a href="http://dx.doi.org/10.1112/S1461157013000326">Published version</a>  | <a href="http://arxiv.org/abs/1303.6651">arXiv version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://dx.doi.org/10.1007/s10915-013-9747-3"><name> Numerical simulation of cylindrical solitary waves in periodic media </name><br>
</a>
<authors> Manuel Quezada de Luna  and David I. Ketcheson</authors>,
<journal> Journal of Scientific Computing</journal>, 58(3):672-689 (2014)<br>
<links>  | <a href="http://dx.doi.org/10.1007/s10915-013-9747-3">Published version</a>  | <a href="http://arxiv.org/abs/1209.5164">arXiv version</a>  | <a href="http://davidketcheson.info/assets/papers/2014_cylindrical_solitary_waves_postprint.pdf">Free Postprint</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/2013_sd_erk.png" align="right" />
<a href="http://davidketcheson.info/assets/papers/2013_sd_erk.pdf"><name> Optimized explicit Runge-Kutta schemes for the spectral difference method applied to wave propagation problems </name><br>
</a>
<authors> Matteo Parsani, David I. Ketcheson,  and W Deconinck</authors>,
<journal> SIAM Journal on Scientific Computing</journal>, 35(2):A957-A986 (2013)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2013_sd_erk.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.1137/120885899">Published version</a>  | <a href="http://arxiv.org/abs/1207.5830">arXiv version</a>  | <a href="http://github.com/ketch/optimized-erk-sd-rr">Reproducibility repository</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/2013_sperk.png" align="right" />
<a href="http://davidketcheson.info/assets/papers/2013_sperk.pdf"><name> Spatially partitioned embedded Runge&ndash;Kutta methods </name><br>
</a>
<authors> David I. Ketcheson, Colin B. Macdonald,  and Steven J. Ruuth</authors>,
<journal> Siam Journal On Numerical Analysis</journal>, 51(5):2887-2910 (2013)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2013_sperk.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.1137/130906258">Published version</a>  | <a href="http://arxiv.org/abs/1301.4006">arXiv version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://davidketcheson.info/assets/papers/2013_effective_order_ssp.pdf"><name> Strong Stability Preserving Explicit Runge&ndash;Kutta Methods of Maximal Effective Order </name><br>
</a>
<authors> Yiannis Hadjimichael, Colin B. Macdonald, David I. Ketcheson,  and J. H. Verner</authors>,
<journal> SIAM Journal on Numerical Analysis</journal>, 51(4):2149-2165 (2013)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2013_effective_order_ssp.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.1137/120884201">Published version</a>  | <a href="http://arxiv.org/abs/1207.2902">arXiv version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/2013_sharpclaw.png" align="right" />
<a href="http://davidketcheson.info/assets/papers/sharpclaw.pdf"><name> High-order Wave Propagation Algorithms for Hyperbolic Systems </name><br>
</a>
<authors> D I Ketcheson, Matteo Parsani,  and R J LeVeque</authors>,
<journal> SIAM Journal on Scientific Computing</journal>, 35(1):A351-A377 (2013)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/sharpclaw.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.1137/110830320">Published version</a>  | <a href="http://arxiv.org/abs/1111.3499">arXiv version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/2012_pyclaw-sisc.png" align="right" />
<a href="http://davidketcheson.info/assets/papers/2012_pyclaw-sisc.pdf"><name> PyClaw: Accessible, Extensible, Scalable Tools for Wave Propagation Problems </name><br>
</a>
<authors> David I. Ketcheson, Kyle T. Mandli, Aron J. Ahmadia, Amal Alghamdi, Manuel Quezada de Luna, Matteo Parsani, Matthew G. Knepley,  and Matthew Emmett</authors>,
<journal> SIAM Journal on Scientific Computing</journal>, 34(4):C210-C231 (2012)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2012_pyclaw-sisc.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.1137/110856976">Published version</a>  | <a href="http://arxiv.org/abs/1111.6583">arXiv version</a>  | <a href="http://bitbucket.org/ahmadia/pyclaw-sisc-rr">Reproducibility repository</a>  | <a href="http://numerics.kaust.edu.sa/papers/pyclaw-sisc/pyclaw-sisc.html">Figures with interactive code</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/2012_optimal_stability_polynomials.png" align="right" />
<a href="http://davidketcheson.info/assets/papers/2012_optimal_stability_polynomials.pdf"><name> Optimal stability polynomials for numerical integration of initial value problems </name><br>
</a>
<authors> David I. Ketcheson  and Aron J. Ahmadia</authors>,
<journal> Communications in Applied Mathematics and Computational Science</journal>, 7(2):247-271 (2012)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2012_optimal_stability_polynomials.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.2140/camcos.2012.7.247">Published version</a>  | <a href="http://arxiv.org/abs/1201.3035">arXiv version</a>  | <a href="http://github.com/ketch/RK-opt">code</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<img src="http://davidketcheson.info/assets/paper_images/2012_ketchesonleveque_periodic.png" align="right" />
<a href="http://davidketcheson.info/assets/papers/2012_ketchesonleveque_periodic.pdf"><name> Shock Dynamics in Layered Periodic Media </name><br>
</a>
<authors> David I. Ketcheson  and Randall J. LeVeque</authors>,
<journal> Communications in Mathematical Sciences</journal>, 10(3):859-874 (2012)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2012_ketchesonleveque_periodic.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.4310/CMS.2012.v10.n3.a7">Published version</a>  | <a href="http://arxiv.org/abs/1105.2892">arXiv version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://davidketcheson.info/assets/papers/2011_tsrk.pdf"><name> Strong Stability Preserving Two-step Runge&ndash;Kutta Methods </name><br>
</a>
<authors> David I. Ketcheson, Sigal Gottlieb,  and Colin B. Macdonald</authors>,
<journal> SIAM Journal on Numerical Analysis</journal>, 49(6):2618-2639 (2011)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2011_tsrk.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.1137/10080960X">Published version</a>  | <a href="http://arxiv.org/abs/1106.3626">arXiv version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://numerics.kaust.edu.sa/papers/dwrk2011/downwind_ssp.html"><name> Step Sizes for Strong Stability Preservation with Downwind-Biased Operators </name><br>
</a>
<authors> David I. Ketcheson</authors>,
<journal> SIAM Journal on Numerical Analysis</journal>, 49(4):1649 (2011)<br>
<links>  | <a href="http://dx.doi.org/10.1137/100818674">Published version</a>  | <a href="http://arxiv.org/abs/1105.5798">arXiv version</a>  | <a href="http://github.com/ketch/downwind_IRK_RR">Reproducibility repository</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://linkinghub.elsevier.com/retrieve/pii/S0021999109006251"><name> Runge&ndash;Kutta methods with minimum storage implementations </name><br>
</a>
<authors> David I. Ketcheson</authors>,
<journal> Journal of Computational Physics</journal>, 229(5):1763-1773 (2010)<br>
<links>  | <a href="http://dx.doi.org/10.1016/j.jcp.2009.11.006">Published version</a>  | <a href="http://www.davidketcheson.info/assets/papers/2010_LSRK_postprint.pdf">Post-print</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://davidketcheson.info/assets/papers/2009_monotonicity-glms.pdf"><name> Computation of optimal monotonicity preserving general linear methods </name><br>
</a>
<authors> David I. Ketcheson</authors>,
<journal> Mathematics of Computation</journal>, 78(267):1497-1513 (2009)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2009_monotonicity-glms.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.1090/S0025-5718-09-02209-1">Published version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://linkinghub.elsevier.com/retrieve/pii/S0168927408000688"><name> Optimal implicit strong stability preserving Runge&ndash;Kutta methods </name><br>
</a>
<authors> David I. Ketcheson, Colin B. Macdonald,  and Sigal Gottlieb</authors>,
<journal> Applied Numerical Mathematics</journal>, 59(2):373-392 (2009)<br>
<links>  | <a href="http://dx.doi.org/10.1016/j.apnum.2008.03.034">Published version</a>  | <a href="http://www.davidketcheson.info/assets/papers/implicit_ssp_postprint.pdf">Post-print</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://www.springerlink.com/index/10.1007/s10915-008-9239-z"><name> High Order Strong Stability Preserving Time Discretizations </name><br>
</a>
<authors> Sigal Gottlieb, David I. Ketcheson,  and Chi-Wang Shu</authors>,
<journal> Journal of Scientific Computing</journal>, 38(3):251-289 (2009)<br>
<links>  | <a href="http://dx.doi.org/10.1007/s10915-008-9239-z">Published version</a>  | <a href="http://www.davidketcheson.info/assets/papers/sspreview.pdf">Post-print</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://www.new.ans.org/pubs/journals/nse/a_9070"><name> Surface and Volume Integrals of Uncollided Adjoint Fluxes and Forward-Adjoint Flux Products </name><br>
</a>
<authors> Jeffrey A. Favorite, Keith C. Bledsoe,  and David I. Ketcheson</authors>,
<journal> Nuclear Science and Engineering</journal> (2008)<div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://davidketcheson.info/assets/papers/2008_explicit_ssp.pdf"><name> Highly Efficient Strong Stability Preserving Runge-Kutta Methods with Low-Storage Implementations </name><br>
</a>
<authors> David I. Ketcheson</authors>,
<journal> SIAM Journal on Scientific Computing</journal>, 30(4):2113-2136 (2008)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2008_explicit_ssp.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.1137/07070485X">Published version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://davidketcheson.info/assets/papers/2007_Favorite_marq.pdf"><name> Using the Levenberg-Marquardt method for the solution of inverse transport problems </name><br>
</a>
<authors> Jeffrey A. Favorite  and David I. Ketcheson</authors>,
<journal> Transactions of the American Nuclear Society</journal>, 95 (2006)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2007_Favorite_marq.pdf">Free PDF</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://doi.wiley.com/10.1002/fld.837"><name> On the practical importance of the SSP property for Runge-Kutta time integrators for some common Godunov-type schemes </name><br>
</a>
<authors> David I. Ketcheson  and Allen C. Robinson</authors>,
<journal> International Journal for Numerical Methods in Fluids</journal>, 48(3):271-303 (2005)<br>
<links>  | <a href="http://dx.doi.org/10.1002/fld.837">Published version</a> |</links><div style="clear:both"></div>

</div>

<h2>Books</h2>
<div id="pub">
<a href="http://www.amazon.com/Stability-Preserving-Runge-Kutta-Multistep-Discretizations/dp/9814289264"><name> Strong Stability Preserving Runge-Kutta And Multistep Time Discretizations </name><br>
</a>
<authors> Sigal Gottlieb, David I. Ketcheson,  and Chi-Wang Shu</authors>,
 (2011)<br>
<links>  | <a href="http://dx.doi.org/10.1142/7498">Published version</a> |</links><div style="clear:both"></div>

</div>

<h2>Conference Proceedings</h2>
<div id="pub">
<name> Teaching numerical methods with IPython notebooks and inquiry-based learning </name><br>
<authors> David I. Ketcheson</authors>,
in Proceedings of SciPy 2014. (2014)<div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://www.oulu.fi/mekapaivat2012/meka2012_proceedings.pdf"><name> Optimized low-order explicit Runge-Kutta schemes for high- order spectral difference method </name><br>
</a>
<authors> Matteo Parsani  and David I Ketcheson</authors>,
in Proceedings of the 11th Finnish Mechanics Days. (2012)<div style="clear:both"></div>

</div>

<div id="pub">
<name> Explicit Runge-Kutta schemes for the spectral difference method applied to wave propagation problems </name><br>
<authors> M Parsani, D I Ketcheson,  and W Deconinck</authors>,
in Proceedings of the European Congress on Computational Methods in Applied Sciences and Engineering. (2012)<div style="clear:both"></div>

</div>

<div id="pub">
<name> Design of optimal explicit linearly stable strong stability preserving Runge-Kutta schemes for the spectral difference method </name><br>
<authors> M Parsani  and D I Ketcheson</authors>,
 Extended abstract.in International Conference on Spectral and High Order Methods. (2012)<div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://conference.scipy.org/proceedings/scipy2011/pdfs/mandli_etal.pdf"><name> Using Python to Construct a Scalable Parallel Nonlinear Wave Solver </name><br>
</a>
<authors> Kyle T. Mandli, Amal Alghamdi, Aron J. Ahmadia, David I. Ketcheson,  and W. Scullin</authors>,
in Proceedings of SciPy 2011. (2011)<div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://numerics.kaust.edu.sa/papers/petclaw2011/petclaw2011.html"><name> PetClaw: A Scalable Parallel Nonlinear Wave Propagation Solver for Python </name><br>
</a>
<authors> Amal Alghamdi, Aron J. Ahmadia, David I. Ketcheson, Matthew G. Knepley, Kyle T. Mandli,  and Lisandro Dalcin</authors>,
in Proceedings of SpringSim '11. (2011)<div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://www.davidketcheson.info/assets/papers/hyp2006_wenoclaw.pdf"><name> WENOCLAW: A higher order wave propagation method </name><br>
</a>
<authors> David I. Ketcheson  and Randall J. LeVeque</authors>,
in Hyperbolic Problems: Theory, Numerics, Applications: Proceedings of the Eleventh International Conference on Hyperbolic Problems. (2008)<br>
<links>  | <a href="http://www.davidketcheson.info/assets/papers/hyp2006_wenoclaw.pdf">Free PDF</a>  | <a href="http://dx.doi.org/10.1.1.123.7865">Published version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<name> The luminosities of horizontal branches and RR Lyrae stars in globular clusters </name><br>
<authors> DH McNamara, MB Rose, PJ Brown, DI Ketcheson, JE Maxwell, KM Smith,  and RC Wooley</authors>,
in IAU Colloq. 193: Variable Stars in the Local Group. (2004)<div style="clear:both"></div>

</div>

<div id="pub">
<name> CCD Photometry of Variables in the Field of QS Geminorum </name><br>
<authors> DI Ketcheson, PJ Brown,  and EG Hintz</authors>,
in Bulletin of the American Astronomical Society. (2002)<div style="clear:both"></div>

</div>

<h2>Technical Reports</h2>
<div id="pub">
<a href="http://arxiv.org/abs/1309.1317"><name> Propagation of internal errors in explicit Runge&ndash;Kutta methods and internal stability of SSP and extrapolation methods </name><br>
</a>
<authors> David I Ketcheson, Lajos Lóczi,  and Matteo Parsani</authors>,
 (2013)<br>
<links>  | <a href="http://arxiv.org/abs/1309.1317">arXiv version</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://davidketcheson.info/assets/papers/2009_kinematics.pdf"><name> A Comparison of Lagrangian/Eulerian Approaches for Tracking the Kinematics of High Deformation Solid Motion </name><br>
</a>
<authors> Allen C. Robinson, David I. Ketcheson, T.L. Ames,  and G.V. Farnsworth</authors>,
 (2009)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2009_kinematics.pdf">Free PDF</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://davidketcheson.info/assets/papers/2005_ketcheson_lanl_scattering.pdf"><name> Inverse Solution Methods and Perturbation Estimates for Radiation Leakage without Scattering </name><br>
</a>
<authors> David I. Ketcheson</authors>,
 (2005)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/2005_ketcheson_lanl_scattering.pdf">Free PDF</a> |</links><div style="clear:both"></div>

</div>

<div id="pub">
<a href="http://dx.doi.org/10.2172/918357"><name> An assessment of semi-discrete central schemes for hyperbolic conservation laws </name><br>
</a>
<authors> Mark A Christon, David I. Ketcheson,  and Allen C. Robinson</authors>,
 (2003)<br>
<links>  | <a href="http://dx.doi.org/10.2172/918357">Published version</a> |</links><div style="clear:both"></div>

</div>

<h2>Theses</h2>
<div id="pub">
<a href="http://davidketcheson.info/assets/papers/ketchesonphdthesis.pdf"><name> High Order Strong Stability Preserving Time Integrators and Numerical Wave Propagation Methods for Hyperbolic PDEs </name><br>
</a>
<authors> David I. Ketcheson</authors>,
 University of Washington, (2009)<br>
<links>  | <a href="http://davidketcheson.info/assets/papers/ketchesonphdthesis.pdf">Free PDF</a> |</links><div style="clear:both"></div>

</div>



{% include footer.html %}
