---
title: Publications
---

<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

{% include header.html %}

<h2>Preprints</h2>
<div id="pub">
<a href="http://arxiv.org/abs/1207.2902"><name> Effective order strong stability preserving Runge-Kutta methods </name><br>
</a>
<authors> Yiannis Hadjimichael, Colin B. Macdonald, David I. Ketcheson,  and J. H. Verner</authors>,
 submitted. (2012)<br>
<links>  | <a href="http://arxiv.org/abs/1207.2902">Download</a> |  | <a href="http://arxiv.org/abs/1207.2902">arXiv</a> | </links>
</div>

<div id="pub">
<a href="http://arxiv.org/abs/1201.3035"><name> Optimal stability polynomials for numerical integration of initial value problems </name><br>
</a>
<authors> David I. Ketcheson  and Aron J. Ahmadia</authors>,
 arxiv:1201.3035; submitted. (2012)<br>
<links>  | <a href="http://arxiv.org/abs/1201.3035">Download</a> |  | <a href="http://arxiv.org/abs/1201.3035">arXiv</a> | </links>
</div>

<div id="pub">
<a href="http://arxiv.org/abs/1209.5164"><name> Numerical simulation of cylindrical solitary waves in periodic media </name><br>
</a>
<authors> David I. Ketcheson  and Manuel Quezada de Luna</authors>,
 submitted. (2012)<br>
<links>  | <a href="http://arxiv.org/abs/1209.5164">Download</a> |  | <a href="http://arxiv.org/abs/1209.5164">arXiv</a> | </links>
</div>

<div id="pub">
<a href="http://arxiv.org/abs/1207.5830"><name> Optimized explicit Runge-Kutta schemes for the spectral difference method applied to wave propagation problems </name><br>
</a>
<authors> M Parsani, D. I. Ketcheson,  and W Deconinck</authors>,
 submitted. (2012)<br>
<links>  | <a href="http://arxiv.org/abs/1207.5830">Download</a> |  | <a href="http://arxiv.org/abs/1207.5830">arXiv</a> | </links>
</div>

<h2>Refereed Journal Articles</h2>
<div id="pub">
<a href="http://www.intlpress.com/CMS/p/2012/issue10-3/CMSV10-3-07-ket.pdf"><name> Shock Dynamics in Layered Periodic Media </name><br>
</a>
<authors> David I. Ketcheson  and Randall J. LeVeque</authors>,
<journal> Communications in Mathematical Sciences</journal>, 10(3):859-874 https://bitbucket.org/ketch/layeredmediashocks (2012)<br>
<links>  | <a href="http://www.intlpress.com/CMS/p/2012/issue10-3/CMSV10-3-07-ket.pdf">Download</a> |  | <a href="http://arxiv.org/abs/1105.2892">arXiv</a> | </links>
</div>

<div id="pub">
<a href="http://numerics.kaust.edu.sa/papers/pyclaw-sisc/pyclaw-sisc.html"><name> PyClaw: Accessible, Extensible, Scalable Tools for Wave Propagation Problems </name><br>
</a>
<authors> David I. Ketcheson, Kyle T. Mandli, Aron Ahmadia, Amal Alghamdi, Manuel Quezada, Matteo Parsani, Matthew G. Knepley,  and Matthew Emmett</authors>,
<journal> SIAM Journal on Scientific Computing</journal>, 34(4):C210-C231 (2012)<br>
<links>  | <a href="http://numerics.kaust.edu.sa/papers/pyclaw-sisc/pyclaw-sisc.html">Download</a> |  | <a href="http://dx.doi.org/10.1137/110856976">DOI</a> |  | <a href="http://arxiv.org/abs/1111.6583">arXiv</a> | </links>
</div>

<div id="pub">
<a href="http://numerics.kaust.edu.sa/papers/dwrk2011/downwind_ssp.html"><name> Step Sizes for Strong Stability Preservation with Downwind-Biased Operators </name><br>
</a>
<authors> David I. Ketcheson</authors>,
<journal> SIAM Journal on Numerical Analysis</journal>, 49(4):1649 (2011)<br>
<links>  | <a href="http://numerics.kaust.edu.sa/papers/dwrk2011/downwind\_ssp.html">Download</a> |  | <a href="http://dx.doi.org/10.1137/100818674">DOI</a> |  | <a href="http://arxiv.org/abs/1105.5798">arXiv</a> | </links>
</div>

<div id="pub">
<a href="http://arxiv.org/abs/1106.3626"><name> Strong Stability Preserving Two-step Runge–Kutta Methods </name><br>
</a>
<authors> David I. Ketcheson, Sigal Gottlieb,  and Colin B. Macdonald</authors>,
<journal> SIAM Journal on Numerical Analysis</journal>, 49(6):2618 (2011)<br>
<links>  | <a href="http://arxiv.org/abs/1106.3626">Download</a> |  | <a href="http://dx.doi.org/10.1137/10080960X">DOI</a> |  | <a href="http://arxiv.org/abs/1106.3626">arXiv</a> | </links>
</div>

<div id="pub">
<a href="http://linkinghub.elsevier.com/retrieve/pii/S0021999109006251"><name> Runge–Kutta methods with minimum storage implementations </name><br>
</a>
<authors> David I. Ketcheson</authors>,
<journal> Journal of Computational Physics</journal>, 229(5):1763-1773 (2010)<br>
<links>  | <a href="http://linkinghub.elsevier.com/retrieve/pii/S0021999109006251">Download</a> |  | <a href="http://dx.doi.org/10.1016/j.jcp.2009.11.006">DOI</a> | </links>
</div>

<div id="pub">
<a href="http://www.springerlink.com/index/10.1007/s10915-008-9239-z"><name> High Order Strong Stability Preserving Time Discretizations </name><br>
</a>
<authors> Sigal Gottlieb, David I. Ketcheson,  and Chi-Wang Shu</authors>,
<journal> Journal of Scientific Computing</journal>, 38(3):251-289 (2009)<br>
<links>  | <a href="http://www.springerlink.com/index/10.1007/s10915-008-9239-z">Download</a> |  | <a href="http://dx.doi.org/10.1007/s10915-008-9239-z">DOI</a> | </links>
</div>

<div id="pub">
<a href="http://www.amath.washington.edu/~ketch/David_Ketcheson/ketcheson2008c_files/P-11004_revised.pdf"><name> Computation of optimal monotonicity preserving general linear methods </name><br>
</a>
<authors> David I. Ketcheson</authors>,
<journal> Mathematics of Computation</journal>, 78(267):1497-1513 (2009)<br>
<links>  | <a href="http://www.amath.washington.edu/~ketch/David\_Ketcheson/ketcheson2008c\_files/P-11004\_revised.pdf">Download</a> |  | <a href="http://dx.doi.org/10.1090/S0025-5718-09-02209-1">DOI</a> | </links>
</div>

<div id="pub">
<a href="http://linkinghub.elsevier.com/retrieve/pii/S0168927408000688"><name> Optimal implicit strong stability preserving Runge–Kutta methods </name><br>
</a>
<authors> David I. Ketcheson, Colin B. Macdonald,  and Sigal Gottlieb</authors>,
<journal> Applied Numerical Mathematics</journal>, 59(2):373-392 (2009)<br>
<links>  | <a href="http://linkinghub.elsevier.com/retrieve/pii/S0168927408000688">Download</a> |  | <a href="http://dx.doi.org/10.1016/j.apnum.2008.03.034">DOI</a> | </links>
</div>

<div id="pub">
<a href="http://www.new.ans.org/pubs/journals/nse/a_9070"><name> Surface and Volume Integrals of Uncollided Adjoint Fluxes and Forward-Adjoint Flux Products </name><br>
</a>
<authors> Jeffrey A. Favorite, Keith C. Bledsoe,  and David I. Ketcheson</authors>,
<journal> Nuclear Science and Engineering</journal> (2008)<br>
<links>  | <a href="http://www.new.ans.org/pubs/journals/nse/a\_9070">Download</a> | </links>
</div>

<div id="pub">
<name> Highly Efficient Strong Stability Preserving Runge-Kutta Methods with Low-Storage Implementations </name><br>
<authors> David I. Ketcheson</authors>,
<journal> SIAM Journal on Scientific Computing</journal>, 30 (2008)<br>
<links>  | <a href="http://dx.doi.org/10.1137/07070485X">DOI</a> | </links>
</div>

<div id="pub">
<name> Using the Levenberg-Marquardt method for the solution of inverse transport problems </name><br>
<authors> Jeffrey A. Favorite  and David I. Ketcheson</authors>,
<journal> Transactions of the American Nuclear Society</journal>, 95 (2006)<br>
<links> </links>
</div>

<div id="pub">
<a href="http://doi.wiley.com/10.1002/fld.837"><name> On the practical importance of the SSP property for Runge-Kutta time integrators for some common Godunov-type schemes </name><br>
</a>
<authors> David I. Ketcheson  and Allen C. Robinson</authors>,
<journal> International Journal for Numerical Methods in Fluids</journal>, 48(3):271-303 (2005)<br>
<links>  | <a href="http://doi.wiley.com/10.1002/fld.837">Download</a> |  | <a href="http://dx.doi.org/10.1002/fld.837">DOI</a> | </links>
</div>

<div id="pub">
<a href="http://numerics.kaust.edu.sa/papers/sharpclaw2011/sharpclaw2011.html"><name> High-order wave propagation algorithms for hyperbolic systems </name><br>
</a>
<authors> David I. Ketcheson, Matteo Parsani,  and Randall J. LeVeque</authors>,
<journal> SIAM Journal on Scientific Computing</journal> In Press.<br>
<links>  | <a href="http://numerics.kaust.edu.sa/papers/sharpclaw2011/sharpclaw2011.html">Download</a> |  | <a href="http://arxiv.org/abs/1111.3499">arXiv</a> | </links>
</div>

<h2>Books</h2>
<div id="pub">
<a href="http://www.amazon.com/Stability-Preserving-Runge-Kutta-Multistep-Discretizations/dp/9814289264"><name> Strong Stability Preserving Runge-Kutta And Multistep Time Discretizations </name><br>
</a>
<authors> Sigal Gottlieb, David I. Ketcheson,  and Chi-Wang Shu</authors>,
 (2011)<br>
<links>  | <a href="http://www.amazon.com/Stability-Preserving-Runge-Kutta-Multistep-Discretizations/dp/9814289264">Download</a> |  | <a href="http://dx.doi.org/10.1142/7498">DOI</a> | </links>
</div>

<h2>Conference Proceedings</h2>
<div id="pub">
<a href="http://numerics.kaust.edu.sa/papers/petclaw2011/petclaw2011.html"><name> PetClaw: A Scalable Parallel Nonlinear Wave Propagation Solver for Python </name><br>
</a>
<authors> Amal Alghamdi, Aron Ahmadia, David I. Ketcheson, Matthew G. Knepley, Kyle T Mandli,  and Lisandro Dalcin</authors>,
 (2011)<br>
<links>  | <a href="http://numerics.kaust.edu.sa/papers/petclaw2011/petclaw2011.html">Download</a> | </links>
</div>

<div id="pub">
<name> Using Python to Construct a Scalable Parallel Nonlinear Wave Solver </name><br>
<authors> Kyle T Mandli, Amal Alghamdi, Aron Ahmadia, David I. Ketcheson,  and W. Scullin</authors>,
 (2011)<br>
<links> </links>
</div>

<div id="pub">
<a href="http://www.amath.washington.edu/~ketch/David_Ketcheson/ketcheson2006.html"><name> WENOCLAW: A higher order wave propagation method </name><br>
</a>
<authors> David I. Ketcheson  and Randall J. LeVeque</authors>,
 (2008)<br>
<links>  | <a href="http://www.amath.washington.edu/~ketch/David\_Ketcheson/ketcheson2006.html">Download</a> |  | <a href="http://dx.doi.org/10.1.1.123.7865">DOI</a> | </links>
</div>

<h2>Technical Reports</h2>
<div id="pub">
<name> Inverse Solution Methods and Perturbation Estimates for Radiation Leakage without Scattering </name><br>
<authors> David I. Ketcheson</authors>,
 (2005)<br>
<links> </links>
</div>

<div id="pub">
<name> An assessment of semi-discrete central schemes for hyperbolic conservation laws </name><br>
<authors> Mark A Christon, David I. Ketcheson,  and Allen C. Robinson</authors>,
 (2003)<br>
<links>  | <a href="http://dx.doi.org/10.2172/918357">DOI</a> | </links>
</div>

<h2>Theses</h2>
<div id="pub">
<a href="http://www.amath.washington.edu/~ketch/David_Ketcheson/Publications_files/thesis.pdf"><name> High Order Strong Stability Preserving Time Integrators and Numerical Wave Propagation Methods for Hyperbolic PDEs </name><br>
</a>
<authors> David I. Ketcheson</authors>,
 (2009)<br>
<links>  | <a href="http://www.amath.washington.edu/~ketch/David\_Ketcheson/Publications\_files/thesis.pdf">Download</a> | </links>
</div>


{% include footer.html %}
