/* --------------------
# CSS Shapes
--------------------*/

/*----------
.up-triangle {
   width: 0; 
   height: 0; 
   border-bottom: 120px solid green; 
   border-left: 60px solid transparent; 
   border-right: 60px solid transparent;
}

.down-triangle { 
   width: 0; 
   height: 0;
   border-top: 80px solid pink;
   border-left: 60px solid transparent; 
   border-right: 60px solid transparent; 
}

#info {
    border-bottom:120px solid lightgreen;
    float:left;
    margin-right:-28px;
}

#comp {
    border-bottom:120px solid rgba(255, 165, 0, 0.8);
    float:left;
    margin-left:-28px;
}

#quan {
    border-top:120px solid #60abf8;
    float:left;
    margin-left:-28px;
    margin-right:-28px;
}

#inte {
   border-bottom: 120px solid pink;
    margin-left:64px;
    margin-bottom:4px;
}

.up-triangle span {
    font-size:18px;
    text-align:center;
    position: relative;
    top: 55px;
    left:-25px;
}

.down-triangle span {
    font-size:18px;
    text-align:center;
    position:relative;
    bottom:65px;
    left:-20px;
}

-------*/



.circle-text {
    width:33%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.rect-text {
   width: 100%; 
   height: 5em;
   background: rgba(0, 128, 0, 0.46);
        margin-top:30%;
}

.rect-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;

}
.rect-text div {
    float:left;
    width:100%;
    padding-top:0.5em;
    line-height:1em;
    margin-top:0em;
    text-align:center;
    color:white;
    font-size:2.5em;
    vertical-align:center;
}

#info:after {
    background:lightgreen;
}

#comp:after {
    background:rgba(255, 165, 0, 0.8);
}

#quan {
    background:#ff5800;
}

#inte:after {
    background:#60abf8;
}