       <footer class="footer">
         <div class="row">
            <div class="span6">

              <a href="mailto:{{site.author.email}}" onClick="recordOutboundLink(this, 'Outbound Links', 'email'); return false;"><img src="/assets/img/icon-email.png" height="48px" alt="email"> </a>
              <a href="https://github.com/{{site.author.github}}" onClick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;"><img src="/assets/img/icon-github.png" height="40px" alt="github"> </a>
              <a href="https://plus.google.com/{{site.author.gplus}}"><img src="/assets/img/icon-gplus.png" height="40px" alt="G+"></a>
              <a href="https://www.facebook.com/{{site.author.facebook}}"><img src="/assets/img/icon-facebook.png" height="42px" alt="facebook"></a>
              <a href="http://scholar.google.com/citations?user={{site.author.gscholar}}=en"><img src="/assets/img/icon-scholar.png" height="40px" alt="GoogleScholar"></a>
              <a href="https://twitter.com/{{site.author.twitter}}"><img src="/assets/img/icon-twitter.png" height="45px" alt="Twitter"></a>
              <a href="https://www.linkedin.com/in/{{site.author.linkedin}}"><img src="/assets/img/icon-linkedin.png" height="40px" alt="LinkedIn"></a>
              <a href="/atom.xml" onClick="recordOutboundLink(this, 'Outbound Links', 'RSS'); return false;"><img src="/assets/img/icon-rss.png" height="40px" alt="feed"></a>
              <a href="http://physics.stackexchange.com/users/{{site.author.stackexchangephy}}"><img src="/assets/img/icon-stackoverflow.png" height="40px" alt="Physics Stackexchange"></a>

              <p><a href="/CV-XiaodongQi.pdf">CV of Xiaodong Qi</a></p>
              <h4><a property="account" href="https://twitter.com/{{site.author.twitter}}" onclick="recordOutboundLink(this, 'Outbound Links', 'Twitter'); return false;"><i class="icon-twitter"></i> Discussing </a></h4>
              <div class="excerpt">
                <div class="scroll">
                  {% twitter_feed i2000s, 5 %}
                </div>
              </div>
            </div>

            <div class="span4">
              <div class="team-member">
              <img class="img-responsive img-thumbnail img-circle" width="200px" alt="" src="/assets/img/qi2016.jpg" align="middle"></img>

              </div>
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
                  <img alt="Creative Commons License" style="border-width:0" align="right" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
                  <br /><p>Copyright &copy; {{ site.time | date: "%Y" }} {{ site.author.name }}.</p>
                  <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">This site</span> is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
            </div>
        </div>
      </footer>
    </div><!-- /container -->

    {% include javascript.html %}
  </body>
</html>
