<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ page.subtitle }}">
    <meta name="author" content="David Ketcheson">
    <!-- Le styles -->
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:bold,bolditalic,italic|Quattrocento+Sans">
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario:bold,bolditalic,italic|Rosario">
    <link href="{{ site.url }}/assets/css/light.css" rel="stylesheet" type="text/css" id="stl" title="light">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    {% include analytics.html %}
  </head>

  <body> 

  {% include navbar.html %}

  <div class="container"> <!-- Twitter bootstrap has all body content in a container -->

    <!-- Custom masthead (big titles) --> 
 
<header class="jumbotron subhead">
    <h1 class="entry-title">{{ page.title }}</h1>
    <p>{{ page.subtitle }}</p>
</header>



