<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="subtitle" content="{{ page.subtitle }}">
    <meta name="author" content="{{site.author.name}} | {{site.author.ChineseName}}">
    
    {% include metadata.html %}
    <!-- Le styles -->
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quattrocento+Sans:bold,bolditalic,italic|Quattrocento+Sans">
   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rosario:bold,bolditalic,italic|Rosario">
    <link href="/assets/css/light.css" rel="stylesheet" type="text/css" id="stl" title="light">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link href="/assets/css/syntax.css" rel="stylesheet" type="text/css" id="stl" title="light">
    <!-- bootstrap style -->
    <!-- <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    {% include analytics.html %}
      
    <!-- Help the browser identify the RSS feed automatically -->
    <link rel="alternate" type="application/rss+xml" title="Xiaodong Qi's Website" href="/atom.xml" />
  </head>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54f225a84524edd3" async="async"></script>

  <body>

  {% include navbar.html %}

  <div class="container"> <!-- Twitter bootstrap has all body content in a container -->

    <!-- Custom masthead (big titles) -->

<header class="jumbotron subhead">
    <h1 class="entry-title">{{ page.title }}</h1>
    <h3>{{ page.subtitle }}</h3>
</header>
