    <!-- Le javascript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- JQuery, used on a few pages as well as Bootstrap's Javascript plugins -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>-->
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
    <script src="/assets/js/mixitup-mine.js"></script>
    <!-- Equations using MathJax -->
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: {autoNumber: "all"} } });       </script>
    <script type="text/x-mathjax-config"> MathJax.Hub.Config({ tex2jax: { inlineMath: [['$', '$'],['\\(','\\)'] ], processEscapes: true } }); </script>
    <!-- Self-defined extensions and macros. -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Register.StartupHook("TeX Jax Ready",function () {
      MathJax.Hub.Insert(MathJax.InputJax.TeX.Definitions.macros,{
        cancel: ["Extension","cancel"],
        bcancel: ["Extension","cancel"],
        xcancel: ["Extension","cancel"],
        cancelto: ["Extension","cancel"]
      });
    });
    </script>
    <!-- Customize this part for LaTeX macros.-->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: {
        Macros: {
          br: "{\\bf r}",
          bold: ["{\\bf #1}",1],
          abs: ["{\\left \\lvert {#1} \\right \\rvert}", 1],
          ket: ["{\\left| {#1} \\right\\rangle}",1],
          bra: ["{\\left\\langle{#1}\\right|}",1],
          ketbra: ["{\\left|{#1}\\vphantom{#2}\\right\\rangle\\!\\left\\langle{#2}\\vphantom{#1}\\right|}",2],
          tensor: ["{\\boldsymbol{#1}}",1],
          dd: ["{\\frac{\\mathrm{d} #1 }{\\mathrm{d} #2 }}",2], // normal derivetives.
          pp: ["{\\frac{\\partial #1}{\\partial #2}}",2], // partial derivetives.
          tr: ["{\\mathrm{Tr}}"], // trace.
        }
      //extensions: ["autoload-all.js"]
      }
    });
    //MathJax.Hub.Register.StartupHook("TeX autoload-all Ready", function () {
      //var MACROS = MathJax.InputJax.TeX.Definitions.macros;
      //MACROS.color = "Color";
      //delete MACROS.colorbox;
      //delete MACROS.fcolorbox;
    //});
    </script>
    <!-- Twitter Bootstrap Javascript -->
    <script src="/assets/js/bootstrap-collapse.js"></script> <!-- for collapsing navbar-->
    <!-- Unused Twitter Bootstrap Javascript
    <script src="{{ site.url }}/assets/js/bootstrap-dropdown.js"></script>
    <script src="{{ site.url }}/assets/js/google-code-prettify/prettify.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-transition.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-alert.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-modal.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-scrollspy.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-tab.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-tooltip.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-popover.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-button.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-carousel.js"></script>
    <script src="{{ site.url }}/assets/js/bootstrap-typeahead.js"></script>
    <script src="{{ site.url }}/assets/js/application.js"></script>
    -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src = "https://code.jquery.com/jquery.js"></script>-->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src = "/assets/js/bootstrap.min.js"></script>
