
<!-- Navbar  ================================================== -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/README.html"><i class="glyphicon glyphicon-info-sign"></i></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if page.url == "/index.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/index.html">Home</a></li>

          {% if page.url == "/research.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/research.html">Research</a></li>

          {% if page.url == "/pubs/index.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/pubs/index.html">Publications and Activities</a></li>

          <!-- {% if page.url == "/noteblog.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/noteblog.html">Blog</a></li> -->

          <!-- {% if page.url == "/notebooks.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="{{ site.url }}/notebooks.html">Notebooks</a></li> -->

          {% if page.url == "/community.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/community.html">Community</a></li>

          <!-- {% if page.url == "/teaching.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="{{ site.url }}/teaching.html">Learning</a></li> -->

          <!--{% if page.url == "/tools.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/tools.html">Tools</a></li>

          {% if page.url == "/philosophy.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/philosophy.html">Philosophy</a></li> -->

        </ul>
      <!-- Search site using Google's index -->
        <form class="navbar-form navbar-right" role="search" method="get" action="http://google.com/search">
          <div class="form-group">
            <input type="hidden" name="q" value="site:i2000s.github.io" />
            <input type="text" class="form-control search-query" name="q" placeholder="Search"/>
          </div>
          <button class="btn btn-xs" type="submit"><i class="glyphicon glyphicon-search"></i></button> 
       </form>

    </div><!--/.nav-collapse -->
  </div> <!-- /container -->
</nav>