
<!-- Navbar  ================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/README.html">  <img style="float:right;" src="/assets/img/icon-info-circle-inverted.png" alt="info"></a>
      <div class="nav-collapse">
        <ul class="nav">
          {% if page.url == "/index.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/index.html">Home</a></li>

          {% if page.url == "/research.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/research.html">Research</a></li>

          {% if page.url == "/pubs/index.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/pubs/index.html">Publications and Activities</a></li>

          <!-- {% if page.url == "/noteblog.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/noteblog.html">Blog</a></li> -->

          <!-- {% if page.url == "/notebooks.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="{{ site.url }}/notebooks.html">Notebooks</a></li> -->

          {% if page.url == "/community.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/community.html">Community</a></li>

          <!-- {% if page.url == "/teaching.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="{{ site.url }}/teaching.html">Learning</a></li> -->

          <!--{% if page.url == "/tools.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/tools.html">Tools</a></li>

          {% if page.url == "/philosophy.html" %}<li class="active">{% else %}<li>{% endif %}
          <a href="/philosophy.html">Philosophy</a></li> -->

        </ul>
      </div><!--/.nav-collapse -->
       <form class="navbar-search pull-right" method="get" action="http://google.com/search">
         <input type="hidden" name="q" value="site:{{ site.url }} ">
         <input type="text" class="search-query" name="q">
         <button class="btn btn-mini" type="submit"><i class="icon-search"></i></button>
       </form>
     </div> <!-- /container -->
   </div> <!-- /navbar-inner -->
 </div> <!-- /navbar -->
