<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{site.author.name}}">
    {% include analytics.html %}
    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54f225a84524edd3" async="async"></script>

  <body>

  {% include navbar.html %}

    <div class="container">

<!-- Masthead
================================================== -->

<header>
    <h1 class="entry-title">{{ page.title }}</h1>
    <h3>{{ page.subtitle }}</h3>
</header>
<hr>
