              <a href="/atom.xml" onClick="recordOutboundLink(this, 'Outbound Links', 'RSS'); return false;"><img src="/assets/img/icon-rss.png" alt="feed"> Subscribe</a>
              <h3>Find me on the social web:</h3>
              <ul style="list-style-type:none">
              <li> <a href="mailto:i2000s@hotmail.com" onClick="recordOutboundLink(this, 'Outbound Links', 'email'); return false;"><img src="/assets/img/icon-email.png" alt="email"> Email</a></li>
              <li><a href="https://github.com/i2000s" onClick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;"><img src="/assets/img/icon-github.png" alt="github"> Code (Github)</a></li>
              <li><a href="http://scholar.google.com/citations?user=6FdqHlIAAAAJ&hl=en"><img src="/assets/img/icon-scholar.png" alt="Google Scholar"> Papers (Scholar)</a></li>
              <li><a href="https://plus.google.com/+XiaodongQi"><img src="/assets/img/icon-gplus.png" alt="G+">  Discussion (Google+)</a></li>
              <li><a href="https://twitter.com/i2000s"><img src="/assets/img/icon-twitter.png" alt="Twitter"> Tweets</a></li>
              <li><a href="http://physics.stackexchange.com/users/37682/xiaodong-qi"><img src="/assets/img/icon-stackoverflow.png" alt="Physics Stackexchange"></a></li>
              </ul>
