<aside prefix="og:http://ogp.me/ns/article#">
  <p> <i class="icon-calendar"></i>
    <time datetime="{{ page.date }}" 
    property="dc:created">{{ page.date | date_to_string }}</time></p>
  {%if page.modified %}
  <p><small> modified: <time 
            datetime="{{ page.modified }}" 
            property="dc:modified">{{ page.modified }}</time></small></p>
  {% endif %} 

 <br />
{% include nextprevious.html %}

 <p> <a  onclick="recordOutboundLink(this, 'Outbound Links', 'history'); 
            return false;" 
          class="btn btn-default" 
          href="https://github.com/{{site.author.github}}/{{ site.repo }}/commits/{{ site.sourcebranch }}/_posts/{{page.path}}"><i class="glyphicon-time"></i> history</a></p>

  <br />

  <p><i class="glyphicon-list"></i> Posted in 
    {% for category in page.categories %} 
      <a rel="dc:subject" class="category" 
         href="/categories.html#{{ category | cgi_escape }}">{{ category }}</a>
    {% unless page.categories.last == category %}, {% endunless %}
    {% endfor %}</p>

  <p> <i class="glyphicon-tag"></i> tags: 
    {% for tag in page.tags %}
    <!-- http://schema.org/BlogPosting/keywords -->
    <a rel="og:tag" class="tag" 
       href="/tags.html#{{ tag | cgi_escape }}">#{{ tag }}</a>{% unless page.tags.last == tag %}, {% endunless %}
    {% endfor %}</p>

  <br/>

  {% if site.pageviews %} <p style="font-style:italic"> <i class="icon-signal"></i> pageviews: {{ page.pageviews }}</p>{% endif %}

  <br/>
  <p><tiny> <i class="glyphicon-barcode"></i> SHA Hash: <a href="https://github.com/{{site.author.github}}/{{ site.repo }}/commit/{{page.path | prepend:'_posts/' | git_sha }}/_posts/{{ page.path }}"> {{ page.path | prepend:'_posts/' | git_sha }}</a></tiny></p>
</aside>

<br /><br />
<div style="font-weight:bold; text-align:center;font-size:1.0em;">
 <i class="glyphicon-chevron-left"></i> <a href="/archives.html">Archieves by date,</a>
 <i class="glyphicon-list"></i> <a href="/categories.html">by category,</a>
 <i class="glyphicon-tag"></i> <a href="/tags.html">by tag.</a>
</div>
