              <!-- <a href="mailto:dketch@gmail.com"><i class="icon-envelope"></i></a> -->
              <a href="mailto:dketch@gmail.com" onClick="recordOutboundLink(this, 'Outbound Links', 'email'); return false;"><img src="{{site.url}}/assets/img/icon-email.png" alt="email"> </a> 
              <a href="https://github.com/ketch" onClick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;"><img src="{{site.url}}/assets/img/icon-github.png" alt="github"> </a> 
              <a href="http://www.mendeley.com/profiles/david-ketcheson" onClick="recordOutboundLink(this, 'Outbound Links', 'Mendeley'); return false;"><img src="{{site.url}}/assets/img/icon-mendeley.png" alt="mendeley"></a> 
              <a href="https://plus.google.com/116021515467243730737"><img src="{{site.url}}/assets/img/google-plus-logo.png" alt="G+"></a>
              <a href="http://scholar.google.com/citations?user=ORoYyrYAAAAJ&hl=en"><img src="{{site.url}}/assets/img/scholar.png" alt="G+"></a>
        <a href="{{ site.url }}/atom.xml" onClick="recordOutboundLink(this, 'Outbound Links', 'RSS'); return false;"><img src="/assets/img/icon-rss.png" alt="feed"></a>
