              <a href="{{ site.url }}/atom.xml" onClick="recordOutboundLink(this, 'Outbound Links', 'RSS'); return false;"><img src="/assets/img/icon-rss.png" alt="feed"> Subscribe</a>
              <h3>Find me on the social web:</h3>
              <ul style="list-style-type:none">
              <li> <a href="mailto:dketch@gmail.com" onClick="recordOutboundLink(this, 'Outbound Links', 'email'); return false;"><img src="{{site.url}}/assets/img/icon-email.png" alt="email"> Email</a></li>
              <li><a href="https://github.com/ketch" onClick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;"><img src="{{site.url}}/assets/img/icon-github.png" alt="github"> Code (Github)</a></li>
              <li><a href="http://scholar.google.com/citations?user=ORoYyrYAAAAJ&hl=en"><img src="{{site.url}}/assets/img/icon-scholar.png" alt="Google Scholar"> Papers (Scholar)</a></li>
              <li><a href="https://plus.google.com/+DavidKetcheson"><img src="{{site.url}}/assets/img/icon-gplus.png" alt="G+">  Discussion (Google+)</a></li>
              <li><a href="http://figshare.com/authors/David_Ketcheson/98644"><img src="{{site.url}}/assets/img/icon-figshare.png" alt="Figshare"> Multimedia (Figshare)</a></li>
              <li><a href="https://twitter.com/DavidKetch"><img src="{{site.url}}/assets/img/icon-twitter.png" alt="Twitter"> Tweets</a></li>
              <li><a href="http://scicomp.stackexchange.com/users/123/david-ketcheson"><img src="{{site.url}}/assets/img/icon-scicomp.png" alt="Scientific Computing Stackexchange"> scicomp.SE</a></li>
              <li><a href="http://academia.stackexchange.com/users/81/david-ketcheson"><img src="{{site.url}}/assets/img/icon-academia.png" alt="Academia Stackexchange"> academia.SE</a></li>
              <li><a href="http://mathoverflow.net/users/20507/david-ketcheson"><img src="{{site.url}}/assets/img/icon-mathoverflow.png" alt="Mathoverflow"> Mathoverflow</a></li>
              </ul>
