Posted on
<time pubdate datetime="{{ page.date | date_to_xmlschema }}"
      itemprop="datePublished">{{ page.date | date_to_string }}</time>.
<br />
{% include nextprevious.html %}

<span> <a class="btn btn-mini" href="https://github.com/i2000s/i2000s.github.io/commits/master/_posts">commit history</a></span>

{% include pagetags.html %}

<div style="font-weight:bold; text-align:center;font-size:1.0em;">
 <i class="icon-chevron-left"></i> <a href="/archives.html">All posts by date,</a>
 <i class="icon-list"></i> <a href="/categories.html">by category,</a>
 <i class="icon-tag"></i> <a href="/tags.html">by tag.</a>
</div>
