/* -- Style from Light.css -- */
html {
  font-size: 100%;
}
/* -- Body -- */
body {
  background-repeat: repeat;
  font-family: "Quattrocento Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /*font-family: Helvetica neue, quattrocento-sans, Helvetica, Arial, sans-serif;*/
  font-size: 16px;
  line-height: 22px;
}
/* -- Footer -- */
.footer {
  padding: 35px 0 36px;
  margin-top: 45px;
  font-size: 14px;
  border-top: 1px solid #eee8d5;
}
/* -- list/table -- */
ul.unstyled {
  margin-left: 0;
  list-style: none;
}


/* -- Style from style.css -- */
#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

#main {
  height: 400px;
  text-align: center;
}

#main, div.header, li.repo {
  background: white;
  background: rgba(255, 255, 255, 0.7);
  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#main h1 {
  margin: 30px 0;
}

#main h1, #main p {
  margin-left: 15px;
  margin-right: 15px;
}

#main p {
  font-size: 11px;
  line-height: 1.5;
  margin-bottom: 1em;
}

#logo {
  width: 190px;
  height: 64px;
  margin: 15px 0 0 15px;
  background: url("logo.png");
  text-indent: -99999px;
}

#logo h1 {
  margin: 0;
}

div.header {
  height: 130px;
}

div.header h1, div.header p {
  margin: 10px 15px 0;
}

div.header h1 {
  margin-bottom: 10px;
}

.post {

    background-color: #ffffff;
    border-radius: 20;
    padding: 10px;
}

#num-repos, #num-members {
  font-size: 14px;
  font-weight: bold;
  color: #0084b4;
  line-height: 15px;
}

#statistics a:link, #statistics a:visited {
  color: inherit;
}

#statistics p.email {
  margin-top: 6px;
  font-size: 11px;
}

#recently-updated h1 a {
  font-weight: normal;
  font-size: 11px;
}

#recently-updated-repos {
  margin-left: 35px;
}

#recently-updated-repos li {
  line-height: 1;
}

#recently-updated-repos li span {
  display: inline-block;
  padding: 0px 1px 0px 10px;
}

#recently-updated-repos li span {
  font-size: 12px;
}

#recently-updated-repos li span.name {
  padding: 0 6px 0 0;
  font-size: 15px;
}

#recently-updated-repos li span.time a,
#recently-updated-repos li span.watchers a,
#recently-updated-repos li span.forks a {
  color: #999;
}

li.repo {
  height: 50px;
  width: 250px;
  font-size: 14px;
}

.container .gist {
  width: 30%;
  display: inline-block;
}

.gist {padding: 5px;
    border-width: 2px;
    border-style: none;
    background-color: #fff;
    font-size: 1.1em;
    line-height: 1.1em;
    margin-top: 5px;
    margin-right: 1%;
    margin-bottom: 5px;
    vertical-align: middle;
    min-height: 100px;
}

.gist a{
    font-weight: bold;
    color: #09434e;
    display: block
}

.gist h4 {
    line-height: 90%;
    font-style: italic
}

.gist p {
    font-size: 75%;
    font-style: italic;
}

li.repo > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

li.repo a:hover {
  background: rgba(0, 0, 0, 0.05);
}

li.repo h2, li.repo h3, li.repo p {
  margin: 1px 5px;
}

li.repo h2 {
  font-size: 18px;
  margin-bottom: 2px;
  max-width: 160px;
  overflow: hidden;
}

li.repo h3 {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #999;
}

.repo:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-left: 50px solid transparent;
  border-right: 50px solid #0080b0;
  pointer-events: none;
  z-index: 2;

}

.repo.javascript:after {
  border-right-color: #333;
}

.repo.scala:after {
  border-right-color: #7ac9de;
}

.repo.fortran:after {
  border-right-color: #cc1100;
}

.repo.matlab:after {
  border-right-color: #cc8300;
}

.repo.python:after {
  border-right-color: #6aad2d;
}

li.repo .language {
  position: absolute;
  top: -2px;
  right: 4px;
  text-align: right;
  z-index: 3;
  color: #000;
  margin-right: 0;
  margin-top: 0;
}





.larry.size-smaller, .larry.size-small {
  animation: small-swing 0.5s infinite ease-in-out;
  -moz-animation: small-swing 0.5s infinite ease-in-out;
  -webkit-animation: small-swing 0.5s infinite ease-in-out;
  -ms-animation: small-swing 0.5s infinite ease-in-out;
}

.larry.size-medium, .larry.size-large {
  animation: medium-swing 1.25s infinite ease-in-out;
  -moz-animation: medium-swing 1.25s infinite ease-in-out;
  -webkit-animation: medium-swing 1.25s infinite ease-in-out;
  -ms-animation: medium-swing 1.25s infinite ease-in-out;
}

.larry.size-medium, .larry.size-fat {
  animation: large-swing 1.5s infinite ease-in-out;
  -moz-animation: large-swing 1.5s infinite ease-in-out;
  -webkit-animation: large-swing 1.5s infinite ease-in-out;
  -ms-animation: large-swing 1.5s infinite ease-in-out;
}

#flyzone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#related
{
    background-color: #ccc;
    padding: 5px 5px 5px 5px;
}

#postsum
{
	position: relative;
	/*padding: 50px;*/padding: 10px 10px 5px 10px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
}

#postsum time {
	font-style: italic;
	text-align:right;
	float:right;
	line-height:1.8em;
}

#postsum h3 {
        line-height:1.2em;
}

#postsum h4 {
        font-style: italic;
}

#postsum img {
        float: right;
}

.pub {padding: 5px;
      border-width: 2px;
      border-style: none;
      background-color: #fff;
      font-size: 1.1em;
      line-height: 1.1em;
      margin-top: 5px;
      margin-right: 1%;
      margin-bottom: 5px;
      vertical-align: middle;}

.pub a{font-weight: bold; color: #09434e;}
.pub name{font-weight: bold; color: #09434e;}
.pub journal{font-style: italic;}
.pub links{ font-weight: bold; color: black; vertical-align: bottom;}
.pub links a{ font-weight: bold; color: maroon; font-style: italic;}
.pub img{height: 4em; align: right; padding-right: 3px;}

.highlight { font-size: 85% }
.highlight { line-height: 120% }
.highlight { padding: 1px 4px }
.highlight {
  white-space: nowrap;
  overflow-x: auto;
}

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */




button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container .pub,
.container .gap{
  width: 48%;
}

.container .gist{
  width: 32%;
}

.container .filterable{
  display: none;
}

.gist tag{
    background-color: grey;
    border-radius: 5px;
    color: white;
    padding: 2px;
    margin: 2px;
    vertical-align: bottom;
    float: right;
    font-size: 80%;
    opacity: 70%;
}





/*---------------------------------
# obfuscation for contact info
-----------------------------------*/
.obfuscate { unicode-bidi: bidi-override; direction: rtl; }

/*--------------------------------
# TeamMember
--------------------------------*/
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
.team-member {
  text-align: center;
  margin-bottom: 0;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}



/* 
Some self-defined styles. 
Some are from https://github.com/cboettig/labnotebook/blob/master/assets/css/bootstrap.min.css.
*/
div.excerpt{height:200px;overflow:hidden}div.scroll{width:110%;height:110%;overflow:scroll}.excerpt h1,.excerpt h2,.excerpt h3,.excerpt h4,.excerpt h5,.excerpt h6{font-size:13px;font-weight:700;line-height:18px}






/* -- Content from Grid.css -- */
.grid-1, .grid-2, .grid-3, .grid-4, .rep {
  display:inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last) */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/* Grid >> 4 Columns */

.grid .grid-1 {
  position: relative;
  border-left-style: none;
  border-bottom-style: none;
  border-right-style: none;
  width: 210px;
}

.grid .rep {
  position: relative;
  border-left-style: none;
  border-bottom-style: none;
  border-right-style: none;
  width: 210px;

  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 5px 3px rgba(0,0,0,.5);
  -moz-box-shadow: 0 5px 3px rgba(0,0,0,.5);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
  background: -moz-linear-gradient(top,  #fff,  #ccc);
}

.grid .grid-2 {
  width: 460px;
}

.grid .grid-3 {
  width: 700;
}

.grid .grid-4 {
  width: 940px;
}




/* -- Self-defined new content -- */
/* -- Define figure and caption to have the same width. 
Ref:http://stackoverflow.com/questions/6534473/how-can-i-make-the-width-of-my-figcaption-match-the-width-of-the-img-inside -- */ 
figure {
   display: table;
   width: 10px;
}

img, figcaption {
    display: table-row;
    font-size: 14px;
    text-align: left;
} 