{% include header.html %}
      <div class="row" margin-left="-50px">
        <div class="span8 post" style="float:left;width:78%;">
          {{ content }}
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox">ShareIt...</div>
        </div>


        <!-- Custom sidebar -->
        <div class="span2" style="float:right;width:21%;">
          <div class="sidebar">
            {% include sidebar.html %}
         </div>
       </div>

      </div>
{% include relatedposts.html %}
{% include disqus.html %}
{% include footer.html %}
