{% include header.html %}
<style>
div #sticker {
  width:150px;
  padding:20px;
  margin-right:30px;
  float:right;
}
.stick {
    position:fixed;
    top:40px;}
</style>
<script type="text/javascript">
$(document).ready(function() {
    var s = $("#sticker");
    var pos = s.position();
    $(window).scroll(function() {
        var windowpos = $(window).scrollTop();
        s.html("Distance from top:" + pos.top + "<br />Scroll position: " + windowpos);
        if (windowpos >= pos.top) {
            s.addClass("stick");
        } else {
            s.removeClass("stick");
        }
    });
});
</script>

      <div class="row" margin-left="-50px">
        <div class="span8 post" style="float:left;width:74%;">
          {{ content }}
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox">ShareIt...</div>
        </div>


        <!-- Custom sidebar -->
        <div class="span2" style="float:right;width:22%;">
          <div id="sticker"> <!--class="sidebar">-->
            {% include sidebar.html %}
         </div>
       </div>

      </div>
{% include relatedposts.html %}
{% include disqus.html %}
{% include footer.html %}
