{% include header.html %}
<style>
div #sticker {
  width:auto;
  padding:10px;
  margin-right:20px;
  float:right;
}
.stick {
    position:fixed;
    top:30px;}
</style>
<script type="text/javascript">
$(document).ready(function() {
    var s = $("#sticker");
    var pos = s.position();
    $(window).scroll(function() {
        var windowpos = $(window).scrollTop();
        if (windowpos >= pos.top) {
            s.addClass("stick");
        } else {
            s.removeClass("stick");
        }
    });
});
</script>

      <div class="row" margin-left="-50px">
        <div class="span8 post" style="float:left;width:73%;">
          {{ content }}
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox">Share on</div>
        </div>


        <!-- Custom sidebar -->
        <div class="span2" style="float:right;width:22%;margin-left:0;">
          <div id="sticker" style="width:250px"> <!--class="sidebar">-->
            {% include sidebar.html %}
         </div>
       </div>

      </div>
{% include relatedposts.html %}
{% include disqus.html %}
{% include footer.html %}
